{% extends 'base.html' %}

{% block content %}
<br>
{% if lst != [] %}
    <h3>View history</h3>
{% for i in lst %}
<table width='75%'>
    <br>
    <tr>
        <th width='30%'>
            <nav class='navbar navbar-light bg-light'>
                Name
            </nav>
        </th>
        <th width='22%'>
            <nav class='navbar navbar-light bg-light'>
                Authors
            </nav>
        </th>
        <th width='23%'>
            <nav class='navbar navbar-light bg-light'>
                Time
            </nav>
        </th>
    </tr>
    <tr>
        <td>
            <nav class='navbar navbar-light' style='background-color: #e3f2fd;'>
                {{ i[0] }}
            </nav>
        </td>
        <td>
            <nav class='navbar navbar-light' style='background-color: #e3f2fd;'>
                {{ i[1] }}
            </nav>
        </td>
        <td>
            <nav class='navbar navbar-light' style='background-color: #e3f2fd;'>
                {{ i[2] }}
            </nav>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <h3>There's no history</h3>
    {% endif %}
    {% endblock %}