{% extends 'base.html' %}

{% block content %}
<br>
{% if global_login == 1 %}
<h3>Users</h3>
{% for i in lst %}
<table width='75%'>
    <br>
    <tr>
        <th width='10%'>
            <nav class='navbar navbar-light bg-light'>
                id
            </nav>
        </th>
        <th width='20%'>
            <nav class='navbar navbar-light bg-light'>
                Login
            </nav>
        </th>
        <th width='20%'>
            <nav class='navbar navbar-light bg-light'>
                Email
            </nav>
        </th>
        <th width='25%'>
            <nav class='navbar navbar-light bg-light'>
                Date of registration
            </nav>
        </th>
    </tr>
    <tr>
        <td>
            <nav class='navbar navbar-light' style='background-color: #e3f2fd;'>
                {{ i[0] }}
            </nav>
        </td>
        <td>
            <nav class='navbar navbar-light' style='background-color: #e3f2fd;'>
                {{ i[1] }}
            </nav>
        </td>
        <td>
            <nav class='navbar navbar-light' style='background-color: #e3f2fd;'>
                {{ i[2] }}
            </nav>
        </td>
        <td>
            <nav class='navbar navbar-light' style='background-color: #e3f2fd;'>
                {{ i[3] }}
            </nav>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <h3>Insufficient access rights</h3>
    {% endif %}
    {% endblock %}
</table>